/* Overview.css */
.overview {
  margin: 20px;
}

.graficos {
  display: flex;
  flex-direction: row;
  width: 100%; 
  justify-content: space-between; 
}

.grafico {
  display: flex;
  flex-direction: column;
  padding-right: 30px; /* Adiciona padding de 30px à direita dos gráficos */
}

img {
  max-width: 300px;
  margin: 10px 0;
}

.rounded-image {
  border-radius: 50%; 
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin: 5px 0;
}